# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/01_作品/01_個人制作/01_ChargeZubash/02_開発環境/Release
/01_作品/01_個人制作/01_ChargeZubash/02_開発環境/Debug
/01_作品/01_個人制作/02_SnowBall_Survivor/02_開発環境/Release
/01_作品/01_個人制作/02_SnowBall_Survivor/02_開発環境/Debug
/01_作品/01_個人制作/03_CardboardFighter(制作途中)/02_開発環境/Release
/01_作品/01_個人制作/03_CardboardFighter(制作途中)/02_開発環境/Debug
/02_チーム制作/01_The_Dark_Horizon/02_開発環境/Release
/02_チーム制作/01_The_Dark_Horizon/02_開発環境/Debug
